@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  font-style: normal;
  text-rendering: geometricPrecision;
  line-height: 1.4;
  color: #222;
  background-color: #fff;
}
body.hidden {
  overflow: hidden;
  display: block;
}

input,
textarea,
select,
button {
  outline: none;
  font-family: "Arial", sans-serif;
  text-rendering: geometricPrecision;
  border: 0;
  color: #222;
  font-size: 1rem;
  background-color: transparent;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: unset;
  color: inherit;
  word-break: break-word;
}

a:active,
a:focus {
  outline: 0;
  color: inherit;
}

a:hover {
  outline: 0;
  color: inherit;
  color: #087cce;
}

.link-decoration:hover {
  text-decoration: underline;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

.mx-auto {
  margin: auto;
}

p {
  line-height: 24px;
  word-break: break-word;
}
p + p {
  margin-top: 24px;
}

/*===========================================================================*/
.font-arial {
  font-family: "Arial", sans-serif;
}

.font-condensed {
  font-family: "Roboto Condensed", sans-serif;
}

.font-merri {
  font-family: "Merriweather", serif;
}

/*===========================================================================*/
.w-full {
  width: 100%;
}

.w-1920 {
  max-width: 1920px;
  margin: 0 auto;
}

.w-1340 {
  max-width: 1340px;
  margin: 0 auto;
}

.w-1106 {
  max-width: 1106px;
  margin: 0 auto;
}

.w-30 {
  width: 30%;
}

.w-34 {
  width: 34%;
}

.w-35 {
  width: 35%;
}

.w-36 {
  width: 36%;
}

.w-40 {
  width: 40%;
}

.w-41 {
  width: 41%;
}

.w-44 {
  width: 44%;
}

.w-45 {
  width: 45%;
}

.w-48 {
  width: 48%;
}

.w-50 {
  width: 50%;
}

.w-53 {
  width: 53%;
}

.w-55 {
  width: 55%;
}

.w-60 {
  width: 60%;
}

.w-64 {
  width: 64%;
}

.w-65 {
  width: 65%;
}

.w-67 {
  width: 67%;
}

.w-69 {
  width: 69%;
}

.w-70 {
  width: 70%;
}

.w-200px {
  width: 200px;
}

/*=================================================================*/
.d-3xl-none {
  display: none;
}

.d-3xl-block {
  display: block;
}

.d-3xl-flex {
  display: flex;
}

.d-3xl-grid {
  display: grid;
}

.d-3xl-inline {
  display: inline;
}

.d-3xl-inline-block {
  display: inline-block;
}

.d-3xl-inline-flex {
  display: inline-flex;
}

/*=================================================================*/
.btn {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;
  background-color: #e9bc25;
  color: #fff;
  outline: none;
  font-weight: normal;
  border: 1px solid transparent;
}
.btn:hover {
  background-color: #FFF7DE;
  color: #333;
}

/*===========================================================================*/
.fs-10 {
  font-size: 0.625rem;
}

.fs-11 {
  font-size: 0.6875rem;
}

.fs-12 {
  font-size: 0.75rem;
}

.fs-13 {
  font-size: 0.8125rem;
}

.fs-14 {
  font-size: 0.875rem;
}

.fs-15 {
  font-size: 0.9375rem;
}

.fs-16 {
  font-size: 1rem;
}

.fs-17 {
  font-size: 1.0625rem;
}

.fs-18 {
  font-size: 1.125rem;
}

.fs-20 {
  font-size: 1.25rem;
}

.fs-21 {
  font-size: 1.3125rem;
}

.fs-22 {
  font-size: 1.375rem;
}

.fs-23 {
  font-size: 1.4375rem;
}

.fs-24 {
  font-size: 1.5rem;
}

.fs-25 {
  font-size: 1.5625rem;
}

.fs-26 {
  font-size: 1.625rem;
}

.fs-28 {
  font-size: 1.75rem;
}

.fs-30 {
  font-size: 1.875rem;
}

.fs-32 {
  font-size: 2rem;
}

.fs-36 {
  font-size: 2.25rem;
}

.fs-40 {
  font-size: 2.5rem;
}

.fs-42 {
  font-size: 42px;
}

.fs-48 {
  font-size: 3rem;
}

.fs-60 {
  font-size: 3.75rem;
}

/*=================================================================*/
.ratio-5x7 {
  position: relative;
  display: block;
  padding-bottom: 140%;
}

.ratio-6x7 {
  position: relative;
  display: block;
  padding-bottom: 115%;
}

.ratio-1x1,
.image-wrapper-full {
  position: relative;
  display: block;
  padding-bottom: 100%;
}

.ratio-7x6 {
  position: relative;
  display: block;
  padding-bottom: 86.85%;
}

.ratio-4x5 {
  position: relative;
  display: block;
  padding-bottom: 80%;
}

.ratio-4x3-1 {
  position: relative;
  display: block;
  padding-bottom: 76.92%;
}

.ratio-4x3 {
  position: relative;
  display: block;
  padding-bottom: 75%;
}

.ratio-13x9 {
  position: relative;
  display: block;
  padding-bottom: 69%;
}

.ratio-4x6 {
  position: relative;
  display: block;
  padding-bottom: 67%;
}

.ratio-15x9 {
  position: relative;
  display: block;
  padding-bottom: 60%;
}

.ratio-16x9,
.image-wrapper {
  position: relative;
  display: block;
  padding-bottom: 56.25%;
}

.ratio-17x9 {
  position: relative;
  display: block;
  padding-bottom: 52.94%;
}

.ratio-21x8 {
  position: relative;
  display: block;
  padding-bottom: 49%;
}

.ratio-21x9 {
  position: relative;
  display: block;
  padding-bottom: 42.8571428571%;
}

.ratio-2x12 {
  position: relative;
  display: block;
  padding-bottom: 16.67%;
}

.ratio-5x7 img,
.ratio-6x7 img,
.ratio-7x6 img,
.ratio-21x8 img,
.ratio-4x3-1 img,
.ratio-4x3 img,
.ratio-13x9 img,
.ratio-4x5 img,
.ratio-4x6 img,
.ratio-1x1 img,
.ratio-15x9 img,
.ratio-16x9 img,
.ratio-17x9 img,
.ratio-21x9 img,
.ratio-2x12 img,
.image-wrapper img,
.image-wrapper-full img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/*=================================================================*/
.text-black {
  color: #000;
}

.text-white {
  color: #fff;
}

.text-gray-11 {
  color: #111;
}

.text-gray-22 {
  color: #222;
}

.text-gray-33 {
  color: #333;
}

.text-gray-4f {
  color: #4f4f4f;
}

.text-gray-55 {
  color: #555;
}

.text-gray-66 {
  color: #666;
}

.text-gray-75 {
  color: #757575;
}

.text-gray-99 {
  color: #999;
}

.text-red-ff {
  color: #ff0000;
}

.text-blue-087 {
  color: #087cce;
}

/*=================================================================*/
.bg-white {
  background-color: #fff;
}

.bg-black {
  background-color: #000;
}

.bg-transparent {
  background-color: transparent;
}

.bg-gray-f7 {
  background-color: #f7f7f7;
}

.bg-red-ff {
  background-color: #ff0000;
}

/*=================================================================*/
.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

.fw-bold {
  font-weight: bold;
}

/*=================================================================*/
.pt-4 {
  padding-top: 0.25rem;
}

.pb-4 {
  padding-bottom: 0.25rem;
}

.pl-4 {
  padding-left: 0.25rem;
}

.pr-4 {
  padding-right: 0.25rem;
}

.py-4 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.px-4 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.p-4 {
  padding: 0.25rem;
}

.mt-4 {
  margin-top: 0.25rem;
}

.mb-4 {
  margin-bottom: 0.25rem;
}

.ml-4 {
  margin-left: 0.25rem;
}

.mr-4 {
  margin-right: 0.25rem;
}

.my-4 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.mx-4 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.m-4 {
  margin: 0.25rem;
}

/*=================================================================*/
.pt-8 {
  padding-top: 0.5rem;
}

.pb-8 {
  padding-bottom: 0.5rem;
}

.pl-8 {
  padding-left: 0.5rem;
}

.pr-8 {
  padding-right: 0.5rem;
}

.py-8 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.px-8 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.p-8 {
  padding: 0.5rem;
}

.mt-8 {
  margin-top: 0.5rem;
}

.mb-8 {
  margin-bottom: 0.5rem;
}

.ml-8 {
  margin-left: 0.5rem;
}

.mr-8 {
  margin-right: 0.5rem;
}

.my-8 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.mx-8 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.m-8 {
  margin: 0.5rem;
}

/*=================================================================*/
.pt-10 {
  padding-top: 0.625rem;
}

.pb-10 {
  padding-bottom: 0.625rem;
}

.pl-10 {
  padding-left: 0.625rem;
}

.pr-10 {
  padding-right: 0.625rem;
}

.py-10 {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.px-10 {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.p-10 {
  padding: 0.625rem;
}

.mt-10 {
  margin-top: 0.625rem;
}

.mb-10 {
  margin-bottom: 0.625rem;
}

.ml-10 {
  margin-left: 0.625rem;
}

.mr-10 {
  margin-right: 0.625rem;
}

.my-10 {
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}

.mx-10 {
  margin-left: 0.625rem;
  margin-right: 0.625rem;
}

.m-10 {
  margin: 0.625rem;
}

/*=================================================================*/
.pt-12 {
  padding-top: 0.75rem;
}

.pb-12 {
  padding-bottom: 0.75rem;
}

.pl-12 {
  padding-left: 0.75rem;
}

.pr-12 {
  padding-right: 0.75rem;
}

.py-12 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.px-12 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.p-12 {
  padding: 0.75rem;
}

.mt-12 {
  margin-top: 0.75rem;
}

.mb-12 {
  margin-bottom: 0.75rem;
}

.ml-12 {
  margin-left: 0.75rem;
}

.mr-12 {
  margin-right: 0.75rem;
}

.my-12 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.mx-12 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.m-12 {
  margin: 0.75rem;
}

/*=================================================================*/
.pt-15 {
  padding-top: 0.9375rem;
}

.pb-15 {
  padding-bottom: 0.9375rem;
}

.pl-15 {
  padding-left: 0.9375rem;
}

.pr-15 {
  padding-right: 0.9375rem;
}

.py-15 {
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
}

.px-15 {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

.p-15 {
  padding: 0.9375rem;
}

.mt-15 {
  margin-top: 0.9375rem;
}

.mb-15 {
  margin-bottom: 0.9375rem;
}

.ml-15 {
  margin-left: 0.9375rem;
}

.mr-15 {
  margin-right: 0.9375rem;
}

.my-15 {
  margin-top: 0.9375rem;
  margin-bottom: 0.9375rem;
}

.mx-15 {
  margin-left: 0.9375rem;
  margin-right: 0.9375rem;
}

.m-15 {
  margin: 0.9375rem;
}

/*=================================================================*/
.pt-16 {
  padding-top: 1rem;
}

.pb-16 {
  padding-bottom: 1rem;
}

.pl-16 {
  padding-left: 1rem;
}

.pr-16 {
  padding-right: 1rem;
}

.py-16 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.px-16 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.p-16 {
  padding: 1rem;
}

.mt-16 {
  margin-top: 1rem;
}

.mb-16 {
  margin-bottom: 1rem;
}

.ml-16 {
  margin-left: 1rem;
}

.mr-16 {
  margin-right: 1rem;
}

.my-16 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mx-16 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.m-16 {
  margin: 1rem;
}

/*=================================================================*/
.pt-20 {
  padding-top: 1.25rem;
}

.pb-20 {
  padding-bottom: 1.25rem;
}

.pl-20 {
  padding-left: 1.25rem;
}

.pr-20 {
  padding-right: 1.25rem;
}

.py-20 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.px-20 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.p-20 {
  padding: 1.25rem;
}

.mt-20 {
  margin-top: 1.25rem;
}

.mb-20 {
  margin-bottom: 1.25rem;
}

.ml-20 {
  margin-left: 1.25rem;
}

.mr-20 {
  margin-right: 1.25rem;
}

.my-20 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.mx-20 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.m-20 {
  margin: 1.25rem;
}

/*=================================================================*/
.pt-24 {
  padding-top: 1.5rem;
}

.pb-24 {
  padding-bottom: 1.5rem;
}

.pl-24 {
  padding-left: 1.5rem;
}

.pr-24 {
  padding-right: 1.5rem;
}

.py-24 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.px-24 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.p-24 {
  padding: 1.5rem;
}

.mt-24 {
  margin-top: 1.5rem;
}

.mb-24 {
  margin-bottom: 1.5rem;
}

.ml-24 {
  margin-left: 1.5rem;
}

.mr-24 {
  margin-right: 1.5rem;
}

.my-24 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.mx-24 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.m-24 {
  margin: 1.5rem;
}

/*=================================================================*/
.pt-30 {
  padding-top: 1.875rem;
}

.pb-30 {
  padding-bottom: 1.875rem;
}

.pl-30 {
  padding-left: 1.875rem;
}

.pr-30 {
  padding-right: 1.875rem;
}

.py-30 {
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
}

.px-30 {
  padding-left: 1.875rem;
  padding-right: 1.875rem;
}

.p-30 {
  padding: 1.875rem;
}

.mt-30 {
  margin-top: 1.875rem;
}

.mb-30 {
  margin-bottom: 1.875rem;
}

.ml-30 {
  margin-left: 1.875rem;
}

.mr-30 {
  margin-right: 1.875rem;
}

.my-30 {
  margin-top: 1.875rem;
  margin-bottom: 1.875rem;
}

.mx-30 {
  margin-left: 1.875rem;
  margin-right: 1.875rem;
}

.m-30 {
  margin: 1.875rem;
}

/*=================================================================*/
.pt-40 {
  padding-top: 2.5rem;
}

.pb-40 {
  padding-bottom: 2.5rem;
}

.pl-40 {
  padding-left: 2.5rem;
}

.pr-40 {
  padding-right: 2.5rem;
}

.py-40 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.px-40 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.p-40 {
  padding: 2.5rem;
}

.mt-40 {
  margin-top: 2.5rem;
}

.mb-40 {
  margin-bottom: 2.5rem;
}

.ml-40 {
  margin-left: 2.5rem;
}

.mr-40 {
  margin-right: 2.5rem;
}

.my-40 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.mx-40 {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.m-40 {
  margin: 2.5rem;
}

/*=================================================================*/
.mt-50 {
  margin-top: 50px;
}

/*=================================================================*/
.py-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

/*=================================================================*/
.pt-3xl-80 {
  padding-top: 80px;
}

.pb-3xl-80 {
  padding-bottom: 80px;
}

.py-3xl-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.py-3xl-120 {
  padding-top: 120px;
  padding-bottom: 120px;
}

/*=================================================================*/
.py-3xl-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.py-3xl-70 {
  padding-top: 70px;
  padding-bottom: 70px;
}

/*=================================================================*/
.border-999 {
  border-radius: 999px;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  -ms-border-radius: 999px;
  -o-border-radius: 999px;
}

.border-full {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.border-5 {
  border-radius: 5px;
}

.border-10 {
  border-radius: 10px;
}

.border-15 {
  border-radius: 15px;
}

.border-20 {
  border-radius: 20px;
}

.border-25 {
  border-radius: 25px;
}

/*=================================================================*/
.fix-text {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fix-text2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fix-text3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fix-text4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fix-text5 {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fix-text6 {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fix-text7 {
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*=================================================================*/
.lh-1 {
  line-height: 1;
}

.lh-24 {
  line-height: 24px;
}

.lh-130 {
  line-height: 130%;
}

.lh-140 {
  line-height: 140%;
}

.lh-150 {
  line-height: 150%;
}

.lh-160 {
  line-height: 160%;
}

/*=================================================================*/
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

/*=================================================================*/
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-italic {
  font-style: italic;
}

/*=================================================================*/
.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-around {
  justify-content: space-around;
}

.justify-end {
  justify-content: flex-end;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-0 {
  flex-shrink: 0;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

/*=================================================================*/
.col-2 {
  grid-template-columns: repeat(2, 1fr);
}

.col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.col-4 {
  grid-template-columns: repeat(4, 1fr);
}

.col-5 {
  grid-template-columns: repeat(5, 1fr);
}

.col-6 {
  grid-template-columns: repeat(6, 1fr);
}

/*=================================================================*/
.gap-5 {
  grid-gap: 5px;
  gap: 5px;
}

.gap-8 {
  grid-gap: 0.5rem;
  gap: 0.5rem;
}

.gap-10 {
  grid-gap: 0.625rem;
  gap: 0.625rem;
}

.gap-16 {
  grid-gap: 1rem;
  gap: 1rem;
}

.gap-20 {
  grid-gap: 1.25rem;
  gap: 1.25rem;
}

.gap-24 {
  grid-gap: 1.5rem;
  gap: 1.5rem;
}

.gap-30 {
  grid-gap: 1.875rem;
  gap: 1.875rem;
}

.gap-40 {
  grid-gap: 2.5rem;
  gap: 2.5rem;
}

/*=================================================================*/
.h-full {
  height: 100%;
}

.h-auto {
  height: auto;
}

/*=================================================================*/
.z-10 {
  z-index: 10;
}

.z-20 {
  z-index: 20;
}

.z-30 {
  z-index: 30;
}

.z-40 {
  z-index: 40;
}

.z-50 {
  z-index: 50;
}

.z-100 {
  z-index: 100;
}

/*=================================================================*/
.transition {
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1);
}

/*=================================================================*/
.pointer {
  cursor: pointer;
}

/*=================================================================*/
.text-uppercase {
  text-transform: uppercase;
}

.shadow {
  box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.1);
}

.w-wrapper {
  padding-left: 15px;
  padding-right: 15px;
}

.over-hidden {
  overflow: hidden;
}

/*=================================================================*/
/*=================================================================*/
.ml-3xl--10 {
  margin-left: -10px;
}

.mr-3xl--10 {
  margin-right: -10px;
}

.ml-3xl--15 {
  margin-left: -15px;
}

.mr-3xl--15 {
  margin-right: -15px;
}

/*=================================================================*/
.scale-107 {
  transition: transform 0.3s;
}
.scale-107:hover {
  transform: scale(1.07, 1.07);
}

/*=================================================================*/
.scroll::-webkit-scrollbar-track {
  background-color: #fff;
}

.scroll::-webkit-scrollbar {
  width: 6px;
  background-color: #fff;
  border-radius: 999px;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
  border-radius: 999px;
}

/*=================================================================*/
.border-b-dd {
  border-bottom: 1px solid #DDDDDD;
}

.border-b-e5 {
  border-bottom: 1px solid #e5e5e5;
}

.border-t-e5 {
  border-top: 1px solid #e5e5e5;
}

.border-l-e5 {
  border-left: 1px solid #e5e5e5;
}

.border-r-e5 {
  border-right: 1px solid #e5e5e5;
}

.border-red-ff {
  border: 1px solid #FF0000;
}

/*=================================================================*/
.inset-0 {
  inset: 0;
}
.inset-0 img {
  width: 100%;
  height: 100%;
}

.icon-10 img {
  width: 10px;
  height: auto;
}

.icon-12 img {
  width: 12px;
  height: auto;
}

.icon-14 img {
  width: 14px;
  height: auto;
}

.icon-16 img {
  width: 16px;
  height: auto;
}

.icon-18 img {
  width: 18px;
  height: auto;
}

.icon-20 img {
  width: 20px;
  height: auto;
}

.icon-24 img {
  width: 24px;
  height: auto;
}

.overlay {
  position: fixed;
  inset: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease;
  will-change: opacity;
}
.overlay.active {
  opacity: 1;
  visibility: visible;
  z-index: 99;
}

.pane-item {
  display: none;
}
.pane-item.active {
  display: block;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clear-both {
  clear: both;
}

.clear-fix::after {
  content: "";
  clear: both;
  display: block;
}

.last-bottom-border-none .article:first-child,
.last-bottom-border-none .block-one:first-child,
.last-bottom-border-none .block-two:first-child {
  padding-top: 0;
}
.last-bottom-border-none .article:last-child,
.last-bottom-border-none .block-one:last-child,
.last-bottom-border-none .block-two:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.coating {
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.header.sticky .navbar,
.header.sticky .navbar-menu-mb {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;
}
.header-top .header-time {
  margin-left: 15px;
  padding-left: 15px;
  border-left: 1px solid #e5e5e5;
  font-size: 14px;
  color: #757575;
}
.header-top .latest-link {
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  padding: 5px 10px;
}
.header-top .latest-icon img {
  width: 14px;
  height: auto;
}

.logo img {
  width: 150px;
  height: auto;
}

.search-pc {
  width: 100%;
  width: 175px;
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1);
  padding-left: 15px;
  margin-left: 15px;
  border-left: 1px solid #e5e5e5;
}
.search-pc .search-input {
  height: 1.875rem;
  border: 1px solid #d6d6d6;
  border-radius: 999px;
  padding: 10px 30px 10px 12px;
}
.search-pc .search-input::placeholder {
  color: #757575;
}
.search-pc .search-input:focus {
  border-color: #087cce;
}
.search-pc .search-btn {
  top: 50%;
  right: 0.625rem;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.navbar {
  border-bottom: 1px solid #e5e5e5;
  position: relative;
  background-color: #fff;
  padding: 0 15px;
}
.navbar-wrapper {
  width: 100%;
}
.navbar-wrapper .navbar-item {
  position: relative;
}
.navbar-wrapper .navbar-item.active > a {
  color: #fb0505;
}
.navbar-wrapper .navbar-item a {
  padding: 12px 10px;
  display: flex;
}
.navbar-wrapper .navbar-item .navbar-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  min-width: 200px;
  background-color: white;
  z-index: 100;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
  display: none;
}
.navbar-wrapper .navbar-item:last-child .navbar-dropdown {
  left: auto;
  right: 0;
}
.navbar-wrapper .navbar-item .navbar-dropdown__item:hover a {
  color: #ffffff;
  background-color: #c5161d;
}
.navbar-wrapper .navbar-item:hover .navbar-dropdown {
  display: block;
}

.navbar-more {
  padding: 12px 10px;
}
.navbar-more__heading {
  padding-bottom: 13px;
  border-bottom: 1px solid #bdbdbd;
}
.navbar-more__icon {
  cursor: pointer;
}
.navbar-more__icon .bar {
  display: flex;
}
.navbar-more__icon .bar img {
  width: 20px;
  height: auto;
}
.navbar-more__icon .close {
  display: none;
}
.navbar-more__icon .close img {
  width: 20px;
  height: auto;
}
.navbar-more__icon.active .bar {
  display: none;
}
.navbar-more__icon.active .close {
  display: flex;
}
.navbar-more__content {
  background: #f7f7f7;
  position: absolute;
  height: 100vh;
  z-index: 50;
  top: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}
.navbar-more__content.active {
  display: block;
}
.navbar-more__inner {
  padding: 15px 0;
  max-height: calc(100vh - 200px);
  overflow: auto;
}
.navbar-more__title {
  font-weight: bold;
  font-size: 16px;
  color: #ff0000;
}
.navbar-more__title a {
  display: block;
  padding: 5px 10px;
}
.navbar-more__title a:hover {
  text-decoration: underline;
  color: #ff0000;
}
.navbar-more__item.active .navbar-more__children li:nth-child(n+5) {
  display: block;
}
.navbar-more__item.active .navbar-more__btn {
  display: none;
}
.navbar-more__children {
  font-size: 14px;
}
.navbar-more__children a {
  display: block;
  padding: 5px 10px;
  color: #222;
}
.navbar-more__children a:hover {
  text-decoration: underline;
}
.navbar-more__children li:nth-child(n+5) {
  display: none;
}
.navbar-more__btn {
  padding-top: 8px;
  margin-top: 12px;
  border-top: 1px solid #999;
  display: inline-block;
  cursor: pointer;
}

.breadcrumb-primary {
  padding-bottom: 10px;
  border-bottom: 1px solid #e5e5e5;
}
.breadcrumb-primary__slide {
  max-width: 1110px;
}
.breadcrumb-primary .swiper-slide {
  width: auto !important;
}
.breadcrumb-primary .swiper-slide:last-child .breadcrumb-primary__item::before {
  content: none;
}
.breadcrumb-primary .swiper-button-next:after,
.breadcrumb-primary .swiper-button-prev:after {
  font-size: 12px;
}
.breadcrumb-primary .swiper-button-next,
.breadcrumb-primary .swiper-rtl .swiper-button-prev {
  right: 0;
  left: auto;
}
.breadcrumb-primary .swiper-button-next.swiper-button-disabled,
.breadcrumb-primary .swiper-button-prev.swiper-button-disabled {
  opacity: 0;
  cursor: auto;
}
.breadcrumb-primary__item {
  background-color: #f4f4f4;
  border-radius: 3px;
  padding: 4px 10px;
  width: auto;
  display: inline-block;
  position: relative;
}
.breadcrumb-primary__item::before {
  content: "/";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -10px;
  color: #bdbdbd;
  font-size: 15px;
}
.breadcrumb-primary__link {
  color: #737373;
}

.header-mb__container .logo img {
  height: 60px;
}
.header-mb__container .search-pc {
  right: 15px;
}
.header-mb__container .search-mb__icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #737373;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.header-mb__container .search-mb__icon img {
  height: 14px;
  width: auto;
}
.header-mb__container .icon-bar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #087cce;
  border-radius: 2px;
}
.header-mb__container .search-mb {
  display: flex;
  align-items: center;
  justify-content: end;
}

.sub-menu__content {
  position: fixed;
  left: 0;
  top: 0;
  width: 17.5rem;
  height: 100%;
  background-color: #181716;
  z-index: 100;
  box-shadow: 0px 11px 15px -7px rgba(var(--ipt-baseAlt-rgb), 0.2), 0px 24px 38px 3px rgba(var(--ipt-baseAlt-rgb), 0.14), 0px 9px 46px 8px rgba(var(--ipt-baseAlt-rgb), 0.12);
  transform: translateX(-100%);
  transition: all 0.2s ease;
}
.sub-menu__close {
  width: 3rem;
  height: 3rem;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sub-menu__container {
  height: calc(100% - 100px);
  overflow: auto;
}
.sub-menu__item.active .heading-sub__arrow img {
  color: #fff;
  transform: rotate(-90deg);
}
.sub-menu.active .sub-menu__content {
  transform: translate(0);
}
.sub-menu.active .overlay {
  opacity: 1;
  visibility: visible;
  z-index: 99;
}

.heading-sub__arrow img {
  transition: all 0.2s ease 0s;
  transform: rotate(90deg);
}

.list-sub {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.item-sub__link {
  display: flex;
  padding: 0.5rem 1rem 0.5rem 3.125rem;
  color: #fff;
}
.item-sub:last-child .item-sub__link {
  border-bottom: 1px solid rgba(255, 255, 255, 0.16);
}

.navbar-menu-mb {
  background-color: #fff;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.navbar-mb {
  overflow-x: scroll;
  white-space: nowrap;
  flex-wrap: nowrap;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.navbar-mb::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.navbar-mb::-webkit-scrollbar-track {
  background: transparent;
}
.navbar-mb::-webkit-scrollbar-thumb {
  background: transparent;
}
.navbar-mb::-webkit-scrollbar-thumb:hover {
  background: transparent;
}
.navbar-mb .navbar-item + .navbar-item {
  margin-left: 1.25rem;
}

.navbar-scroll-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 2rem;
  height: 100%;
  background: linear-gradient(270deg, #e5e5e5 28.12%, rgba(255, 255, 255, 0.3137254902) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: fixed;
  inset: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease;
  will-change: opacity;
}

.header-search-mb__form {
  background-color: #fff;
  height: 60px;
  position: absolute;
  top: -100%;
  left: 0;
  right: 0;
  display: none;
  border-bottom: 1px solid red;
}
.header-search-mb__form.active {
  top: 47px;
  display: block;
}

.header-search-input {
  padding-right: 3.5rem;
}
.header-search-input::placeholder {
  color: #333;
}

.header-search-btn {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-color: #fff;
  padding: 10px 20px;
}

/* login */
.login {
  /* logged */
}
.login .not-logged .content {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 385px;
  width: 100%;
  height: auto;
  background-color: #fff;
  border-top: 5px solid #e9bc25;
  z-index: 100;
  padding: 20px;
  display: none;
  flex-direction: column;
  align-items: center;
  max-height: calc(100vh - 100px);
  overflow: auto;
}
.login .not-logged .content.active {
  display: flex;
}
.login .not-logged .content::-webkit-scrollbar {
  width: 0;
  height: 0;
  border-radius: 999px;
  display: none;
}
.login .not-logged .content::-webkit-scrollbar-track {
  background: #D9D9D9;
}
.login .not-logged .content::-webkit-scrollbar-thumb {
  background: #D9D9D9;
}
.login .not-logged .content::-webkit-scrollbar-thumb:hover {
  background: #D9D9D9;
}
.login .not-logged .content-top__logo img {
  height: 40px;
  width: auto;
}
.login .not-logged .content-top__close img {
  width: 24px;
  height: auto;
}
.login .not-logged .content-main__login, .login .not-logged .content-main__register, .login .not-logged .content-main__forgot {
  display: none;
}
.login .not-logged .content-main__login.active, .login .not-logged .content-main__register.active, .login .not-logged .content-main__forgot.active {
  display: block;
}
.login .not-logged .content-main .heading-1,
.login .not-logged .content-main .heading-2 {
  padding: 0 10px 16px;
  position: relative;
  cursor: pointer;
}
.login .not-logged .content-main .heading-1.active,
.login .not-logged .content-main .heading-2.active {
  background: #FF5858;
  background: linear-gradient(315deg, #8A26C4 0, #E62C4A 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.login .not-logged .content-main .heading-1.active::before,
.login .not-logged .content-main .heading-2.active::before {
  content: "";
  position: absolute;
  top: 100%;
  width: calc(100% - 20px);
  left: 50%;
  height: 1px;
  transform: translateX(-50%);
  background: linear-gradient(315deg, #8A26C4 0, #E62C4A 100%);
}
.login .form-input {
  height: 46px;
  width: 100%;
  border: 1px solid #D3D9EC;
  border-radius: 3px;
  padding: 12px 15px;
  font-size: 15px;
  color: #444;
}
.login .form-input:focus {
  border-color: #0084FF;
}
.login .mess-error {
  font-size: 16px;
  font-family: "arial";
  color: #A51B38;
  margin-top: 10px;
}
.login .form-submit {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  width: 100%;
  height: 41px;
  width: 100%;
  background: linear-gradient(315deg, #8A26C4 0, #E62C4A 100%);
}
.login .form-submit:hover {
  background: linear-gradient(315deg, #950de4 0, #ec072d 100%);
}
.login .btn-forgot {
  height: 41px;
  width: 100%;
  background-color: transparent;
  color: #A51B38;
  font-size: 16px;
  font-family: "arial";
}
.login .btn-forgot:hover {
  text-decoration: underline;
}
.login .logged {
  cursor: pointer;
}
.login .logged-heading .avatar img {
  width: 30px;
  height: 30px;
  border-radius: 999px;
}
.login .logged-content {
  background-color: #fff;
  border: 1px solid #DBE0EB;
  right: 0;
  top: 100%;
  min-width: 160px;
  padding: 10px 0;
  margin-top: 12px;
  z-index: 100;
  display: none;
}
.login .logged-link {
  padding: 10px 20px;
  display: block;
}
.login .logged .log-out {
  padding: 10px 20px;
  display: block;
}
.login .logged .log-out:hover {
  color: #FF5858;
}
.login .dropdownContent.active {
  display: block;
}
.login .social {
  flex-wrap: wrap;
}
.login .social-link {
  border: 1px solid #737373;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}
.login .social-link img {
  height: 16px;
  width: auto;
}
.login .social-link:hover {
  border-color: #FF006E;
}

.ads-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay-gray-primary {
  position: relative;
}
.overlay-gray-primary::before {
  width: 100%;
  height: 20px;
  content: "";
  background: linear-gradient(45deg, rgba(247, 247, 247, 0) 0%, #f7f7f7 75.52%);
  background: -webkit-linear-gradient(45deg, rgba(247, 247, 247, 0) 0%, #f7f7f7 75.52%);
  position: absolute;
  right: 0;
  bottom: 0;
}

.block-primary {
  display: flex;
}
.block-primary__left {
  flex: 1;
}
.block-primary__right {
  flex-shrink: 0;
  width: 300px;
}

.heading-width-item-auto .swiper-slide {
  width: auto !important;
}

.heading-slide {
  max-width: calc(100% - 150px);
}

.block-one__heading .heading-one {
  display: inline-block;
  border-bottom: 1px solid #ff0000;
}
.block-one__bot .article-title {
  position: relative;
}
.block-one__bot .article-title::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  width: 6px;
  height: 6px;
  border-radius: 999px;
  background-color: #ababab;
}

.section-tertiary__inner {
  background: #fcfaf6;
  border: 1px solid #f0eeea;
}
.section-tertiary__content iframe {
  width: 100%;
}
.section-tertiary__content .article-list {
  max-height: 410px;
  overflow: auto;
}

.section-quaternary__left {
  max-width: calc(100% - 320px);
  width: 100%;
}
.section-quaternary__left-content .article:hover .coating {
  opacity: 0.9;
}
.section-quaternary__left-content .article-content {
  top: auto;
  z-index: 2;
}
.section-quaternary__left-content .coating {
  background-image: linear-gradient(135deg, #67B26F, #4ca2cd);
  opacity: 0.7;
  transition: opacity 0.2s;
}
.section-quaternary__left-content .article-title a {
  color: #fff;
}
.section-quaternary__left-content .article-bot {
  margin-top: 5px;
}
.section-quaternary__left-content .swiper-button-next,
.section-quaternary__left-content .swiper-rtl .swiper-button-prev {
  right: 0;
  left: auto;
  bottom: auto;
  transform: unset;
}
.section-quaternary__left-content .swiper-button-prev,
.section-quaternary__left-content .swiper-rtl .swiper-button-next {
  left: 0;
  right: auto;
  bottom: auto;
  transform: unset;
}
.section-quaternary__left-content .swiper-button-prev {
  width: 26px;
  height: 46px;
  border-radius: 0 5px 5px 0;
  background: #fff;
  margin-top: 0;
  color: #333;
}
.section-quaternary__left-content .swiper-button-next {
  width: 26px;
  height: 46px;
  border-radius: 5px 0 0 5px;
  background: #fff;
  margin-top: 0;
  color: #333;
}
.section-quaternary__left-content .swiper-button-next:after,
.section-quaternary__left-content .swiper-button-prev:after {
  font-size: 15px;
  transform: rotate(90deg);
}
.section-quaternary__left-content .swiper-button-next:after,
.section-quaternary__left-content .swiper-button-prev:after {
  transform: rotate(0deg);
}
.section-quaternary__right {
  max-width: 320px;
  width: 100%;
}

.section-quinary-mb__left {
  width: 100%;
  max-width: 100%;
}
.section-quinary-mb__left .swiper-button-next {
  width: 22px;
  height: 36px;
}
.section-quinary-mb__left .swiper-button-next:after,
.section-quinary-mb__left .swiper-button-prev:after {
  font-size: 12px;
}

.pagination-item + .pagination-item {
  margin-left: 8px;
}
.pagination-item:hover .pagination-link {
  background-color: #f7f7f7;
}
.pagination-item.active .pagination-link {
  background-color: #ff0000;
  color: #fff;
}
.pagination-item.next-all img, .pagination-item.prev-all img, .pagination-item.next img, .pagination-item.prev img {
  height: 26px;
  width: auto;
}
.pagination-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid #e5e5e5;
  color: #757575;
  border-radius: 3px;
  overflow: hidden;
}

.breadcrumb-secondary__container {
  margin-bottom: 2px;
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  white-space: nowrap;
}
.breadcrumb-secondary__item {
  margin-right: 24px;
}
.breadcrumb-secondary__item .breadcrumb-secondary__link {
  font-weight: 300;
}
.breadcrumb-secondary__item:first-child .breadcrumb-secondary__link {
  color: #ff0000;
}
.breadcrumb-secondary__item:last-child {
  color: #5f3b23;
}
.breadcrumb-secondary__item:last-child .breadcrumb-secondary__link::before {
  content: none;
}
.breadcrumb-secondary__link {
  position: relative;
  display: inline-block;
  padding: 2px 0;
}
.breadcrumb-secondary__link::before {
  content: "❯";
  position: absolute;
  right: -14px;
  color: #757575;
}

.detail-primary {
  background-color: #fcfaf6;
}
.detail-primary__left {
  max-width: calc(100% - 330px);
  width: 100%;
}
.detail-primary__right {
  max-width: 300px;
  width: 100%;
  position: relative;
}

.detail-secondary__left {
  max-width: calc(100% - 330px);
  width: 100%;
}
.detail-secondary__right {
  max-width: 300px;
  width: 100%;
  position: relative;
}

.share-detail__container {
  position: sticky;
  top: 40%;
}
.share-detail__list {
  padding: 8px;
  background-color: #E9BC25;
  border-radius: 999px;
}
.share-detail__item {
  margin-bottom: 10px;
  text-align: center;
}
.share-detail__item:last-child {
  margin-bottom: 0;
}
.share-detail__item--bookmark {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #fff;
}
.share-detail__link {
  width: 33px;
  height: 33px;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.share-detail__link img {
  width: 100%;
  height: auto;
}

.social-detail .link {
  width: 32px;
  height: 32px;
  border: 1px solid #e5e5e5;
  border-radius: 999px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.social-detail .link img {
  height: 17px;
  width: auto;
}
.social-detail .link:hover {
  border-color: #087cce;
}

.detail-sapo {
  font-size: 16px;
}
.detail-sapo p {
  font-size: 16px !important;
  font-weight: 500 !important;
}

.detail-content figure {
  margin-bottom: 1.25rem;
}
.detail-content figure img {
  width: 100%;
  height: auto !important;
  margin: auto;
  border-radius: 5px;
}
.detail-content figure figcaption {
  padding: 10px 0;
  font-size: 12px;
  display: block;
  margin: 0 auto;
  max-width: 100%;
  line-height: 1.25rem;
  color: #5f5f5f;
  font-weight: 300;
  text-align: left;
}
.detail-content figure figcaption em {
  font-style: italic;
}
.detail-content figure h2,
.detail-content figure h3,
.detail-content figure h4,
.detail-content figure h5,
.detail-content figure h6,
.detail-content figure p {
  font-weight: normal !important;
  font-size: 12px !important;
  margin: 0 auto;
  line-height: 1.3 !important;
  color: #5f5f5f;
}
.detail-content p a {
  color: #087cce;
  text-decoration: underline;
}
.detail-content p a:hover {
  text-decoration: underline;
}
.detail-content p, .detail-content li {
  font-size: 18px;
  margin-bottom: 20px;
  line-height: 160%;
  word-break: break-word;
}
.detail-content ul {
  padding-left: 30px;
}
.detail-content ul li {
  list-style: disc;
}
.detail-content h2, .detail-content h3, .detail-content h4, .detail-content h5, .detail-content h6 {
  font-weight: 600;
  margin-bottom: 15px;
  color: #333;
}
.detail-content h2 {
  font-size: 24px;
}
.detail-content h3 {
  font-size: 22px;
}
.detail-content h4 {
  font-size: 20px;
}
.detail-content h5 {
  font-size: 18px;
}
.detail-content h6 {
  font-size: 16px;
}
.detail-content blockquote {
  background: #f5f5f5;
  border-radius: 10px;
  padding: 20px;
  position: relative;
  z-index: 5;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  display: inline-block;
  width: 100%;
  font-size: 18px;
  color: #333;
}
.detail-content blockquote p {
  color: #333;
  font-size: 18px;
}
.detail-content blockquote p:last-child {
  margin-bottom: 0;
}
.detail-content blockquote h2, .detail-content blockquote h3, .detail-content blockquote h4, .detail-content blockquote h5, .detail-content blockquote h6 {
  color: #333;
}
.detail-content blockquote a {
  color: #087cce;
}
.detail-content table {
  width: 100%;
  margin: 20px 0;
  background: #fff;
  overflow: hidden;
}
.detail-content table tr {
  border-bottom: 1px solid;
}
.detail-content table th {
  padding: 15px;
  font-size: 15px;
  border-bottom: 1px solid;
}
.detail-content table th strong {
  color: #087cce;
}
.detail-content table td {
  padding: 15px;
  font-size: 15px;
  border-bottom: 1px solid;
  text-align: center;
}
.detail-content table td strong {
  color: #087cce;
}

.detail-tags .tags-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.detail-tags .tag-item {
  margin-right: 24px;
}
.detail-tags .tag-item:last-child .tag-link::before {
  content: none;
}
.detail-tags .tag-link {
  position: relative;
  display: inline-block;
  padding: 2px 0;
}
.detail-tags .tag-link::before {
  content: "/";
  position: absolute;
  right: -14px;
  color: #757575;
}

.print-box .detail-content {
  padding-left: 0;
}
.print-box .detail-content p {
  text-align: justify;
  word-break: break-word;
}
.print-box .print-btn {
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  background-color: #9b9b9b;
}
.print-box .print-btn:hover {
  background-color: #555;
}

.logo-print img {
  width: 230px;
  height: auto;
}

@media print {
  body, html {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    margin-left: 20mm;
    visibility: hidden;
  }
  .print-box__container {
    visibility: visible;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    width: calc(100% - 20mm);
    max-width: 100%;
    page-break-inside: avoid;
    overflow: visible;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .print-btn {
    display: none;
    opacity: 0;
    visibility: hidden;
  }
  .detail-content {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .detail-content, .expNoEdit, .expEdit {
    page-break-inside: avoid;
  }
  h1, h2, p, figure {
    page-break-inside: avoid;
  }
}
#back-top {
  position: fixed;
  right: 1rem;
  bottom: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  background: #fb0505;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  user-select: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.footer-primary__container {
  border-top: 5px solid #E5E5E5;
}
.footer-primary__info {
  padding-top: 35px;
  padding-bottom: 50px;
}
.footer-primary__info .list-txt p + p {
  margin-top: 4px;
}

@media (max-width: 1536px) {
  .d-2xl-none {
    display: none;
  }
  .d-2xl-block {
    display: block;
  }
  .d-2xl-flex {
    display: flex;
  }
  .d-2xl-grid {
    display: grid;
  }
  .navber-container {
    max-width: 1280px;
  }
}
@media (max-width: 1280px) {
  .d-xl-none {
    display: none;
  }
  .d-xl-block {
    display: block;
  }
  .d-xl-flex {
    display: flex;
  }
  .d-xl-grid {
    display: grid;
  }
  .w-xl-700 {
    max-width: 700px;
    margin: auto;
  }
  .navbar-wrapper {
    max-width: 85%;
  }
  .navbar-wrapper .navbar-item__title {
    font-size: 15px;
  }
}
@media (max-width: 1024px) {
  .d-lg-none {
    display: none;
  }
  .d-lg-block {
    display: block;
  }
  .d-lg-flex {
    display: flex;
  }
  .d-lg-grid {
    display: grid;
  }
  .w-lg-full {
    width: 100%;
    max-width: 100%;
  }
  .w-lg-700 {
    max-width: 700px;
    margin: auto;
  }
  .w-lg-500 {
    max-width: 500px;
    margin: auto;
  }
  .py-lg-50 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .mt-lg-20 {
    margin-top: 20px;
  }
  .mt-lg-30 {
    margin-top: 30px;
  }
  .mt-lg-40 {
    margin-top: 40px;
  }
  .col-lg-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .navbar-wrapper .navbar-item__title {
    font-size: 13px;
  }
  .header-top {
    background-color: #181818;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .header-top .logo,
.header-top .latest,
.header-top .search-pc {
    display: none;
  }
  .header-top .header-time {
    padding-left: 0;
    margin-left: 0;
    border-left: none;
    color: #fff;
  }
  .header-top .action-item__text {
    color: #fff;
  }
}
@media (max-width: 992px) {
  .d-md-none {
    display: none;
  }
  .d-md-block {
    display: block;
  }
  .d-md-flex {
    display: flex;
  }
  .d-md-grid {
    display: grid;
  }
  .w-md-full {
    max-width: 100%;
    width: 100%;
  }
  .w-md-500 {
    max-width: 500px;
    margin: auto;
  }
  .col-md-1 {
    grid-template-columns: 1fr;
  }
  .col-md-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .gap-md-10 {
    grid-gap: 0.625rem;
    gap: 0.625rem;
  }
  .pt-md-0 {
    padding-top: 0;
  }
  .mt-md-0 {
    margin-top: 0;
  }
  .mt-md-20 {
    margin-top: 20px;
  }
  .py-md-30 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .pt-md-30 {
    padding-top: 30px;
  }
  .mt-md-30 {
    margin-top: 30px;
  }
  .py-md-40 {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .pt-md-40 {
    padding-top: 40px;
  }
  .mt-md-40 {
    margin-top: 40px;
  }
  .navbar {
    display: none;
  }
  .ads-right img {
    margin: auto;
  }
  .block-primary {
    display: block;
  }
  .block-primary__left {
    width: 100%;
    padding-right: 0;
  }
  .block-primary__right {
    width: 100%;
  }
  .breadcrumb-title {
    font-size: 24px;
  }
  .breadcrumb-list {
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow: auto;
  }
  .detail-tags .tags-list {
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow: auto;
  }
  .detail-primary__left,
.detail-secondary__left {
    width: 100%;
    max-width: 100%;
  }
  .detail-primary__right,
.detail-secondary__right {
    width: 100%;
    max-width: 100%;
  }
  .detail-secondary__left .articles .article .article-img {
    padding-left: 0;
    float: none;
  }
  .detail-secondary__left .articles .article .article-content {
    margin-top: 15px;
  }
  .footer-primary__list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 767px) {
  .d-sm-none {
    display: none;
  }
  .d-sm-block {
    display: block;
  }
  .d-sm-inline-flex {
    display: inline-flex;
  }
  .d-sm-flex {
    display: flex;
  }
  .d-sm-grid {
    display: grid;
  }
  .mb-sm-0 {
    margin-bottom: 0;
  }
  .mt-sm-0 {
    margin-top: 0;
  }
  .pt-sm-50 {
    padding-top: 50px;
  }
  .pb-sm-50 {
    padding-bottom: 50px;
  }
  .pl-sm-0 {
    padding-left: 0;
  }
  .pt-sm-15 {
    padding-top: 15px;
  }
  .w-wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }
  .w-sm-full {
    width: 100%;
  }
  p + p {
    margin-top: 20px;
  }
  .detail-title {
    font-size: 24px;
  }
  .detail-sapo p {
    font-size: 16px;
  }
  .detail-content figure {
    margin-bottom: 15px;
  }
  .detail-content figure figcaption {
    padding: 8px 10px;
    font-size: 14px;
  }
  .detail-content figure img {
    border-radius: 5px;
  }
  .detail-content p, .detail-content li {
    font-size: 16px;
    margin-bottom: 16px;
  }
  .detail-content h2 {
    font-size: 20px;
  }
  .detail-content h3 {
    font-size: 18px;
  }
  .detail-content h4 {
    font-size: 16px;
  }
  .detail-content h5 {
    font-size: 16px;
  }
  .detail-content h6 {
    font-size: 16px;
  }
  .detail-content blockquote {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
  }
  .detail-content blockquote p {
    font-size: 16px;
  }
  #back-top {
    right: 20px;
  }
  .footer-primary__list {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer-primary__info {
    padding: 20px 0;
  }
}

/*# sourceMappingURL=style.css.map */
