.pagination {
    &-item {
        + .pagination-item {
            margin-left: 8px;
        }
        &:hover {
            .pagination-link {
                background-color: #f7f7f7;
            }

        }
        &.active {
            .pagination-link {
                background-color: #ff0000;
                color: #fff;
            }
        }

        &.next-all,
        &.prev-all,
        &.next,
        &.prev {
            img {
                height: 26px;
                width: auto;
            }
        }
    }
    &-link {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border: 1px solid #e5e5e5;
        color: #757575;
        border-radius: 3px;
        overflow: hidden;

    }
}

.breadcrumb-secondary {
    &__container {
        margin-bottom: 2px;
        display: flex;
        flex-wrap: nowrap;
        overflow: auto;
        white-space: nowrap;

    }
    
    &__item {
        margin-right: 24px;
        .breadcrumb-secondary__link {
            font-weight: 300;
        }

        &:first-child {
            .breadcrumb-secondary__link {
                color: #ff0000;
            }
        }

        &:last-child {
            color: #5f3b23;
            .breadcrumb-secondary__link::before {
                content: none;
            }
        }
    }
    &__link {
        position: relative;
        display: inline-block;
        padding: 2px 0;

        &::before {
            content: "\276F";
            position: absolute;
            right: -14px;
            color: #757575;
        }
    }
}

/*------------------------------------------------------------ search*/
.search-primary {
    &__left {
        .article {
            position: relative;
            &::before {
                content: '';
                width: 9px;
                height: 9px;
                background: #f00;
                border-radius: 50%;
                position: absolute;
                top: 0;
                left: -5px;
                z-index: 1;
            }
            
            // &:last-child {
                //     border-left: none;
                // }
            }
        }
    }

/*------------------------------------------------------------ video*/
.video-primary {
    &__content {
        .article {
        }
    }
}
.play-primary {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 32px;
    height: 32px;
    border-radius: 999px;
    background-color: #00000080;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        width: 14px;
        height: auto;
    }
}

.detail-video-primary {
    .article-form {
        textarea {
            font: 400 12px / 18px arial;
            background: #fff;
            border: 1px solid #c5c5c5;
            width: 100%;
            height: 68px;
            color: #666 !important;
            overflow: hidden;
            padding: 5px 37px 0 5px;
        }

        .contact-bot__txt {
            color: #17191A;

            a {
                text-decoration: underline;
                color: #26abff;
            }
        }
    }
}