// max width 1536px
@media (max-width: 1536px) {
    .d-2xl-none {
        display: none;
    }
    .d-2xl-block {
        display: block;
    }
    .d-2xl-flex {
        display: flex;
    }
    .d-2xl-grid {
        display: grid;
    }

    // --------------------------------------------------------------------header
    .navber-container {
        max-width: 1280px;
    }

    // --------------------------------------------------------------------index

    // --------------------------------------------------------------------cate

    // --------------------------------------- video
    .detail-video-primary {
        &__right {
            max-height: 530px;
            overflow: auto;
            padding: 15px;
            
            .article-title {
                font-size: 30px;
            }
        }
    }
    // --------------------------------------- bao in detail
    .newspapers-container .content .left {
        padding: 80px 50px 40px;
    }
    .newspapers-container .content .left .logo img {
        height: 90px;
        width: auto;
    }
    .newspapers-container .content .left .sapo {
        font-size: 20px;
    }

    // --------------------------------------------------------------------detail

    // --------------------------------------------------------------------footer
}
// max width 1280px
@media (max-width: 1280px) {
    .d-xl-none {
        display: none;
    }
    .d-xl-block {
        display: block;
    }
    .d-xl-flex {
        display: flex;
    }
    .d-xl-grid {
        display: grid;
    }
    .w-xl-700 {
        max-width: 700px;
        margin: auto;
    }
    // --------------------------------------------------------------------header
    .navbar-wrapper {
        max-width: 85%;

        .navbar-item__title {
            font-size: 15px;
        }
    }

    // --------------------------------------------------------------------index

    // --------------------------------------------------------------------cate

    // --------------------------------------- video
    .detail-video-primary {
        &__right {
            max-height: 440px;

            .article-title {
                font-size: 26px;
            }
        }
    }

    // --------------------------------------------------------------------detail

    // --------------------------------------------------------------------footer
}
// max width 1024px
@media (max-width: 1024px) {
     .d-lg-none {
        display: none;
    }
    .d-lg-block {
        display: block;
    }
    .d-lg-flex {
        display: flex;
    }
    .d-lg-grid {
        display: grid;
    }
    .w-lg-full {
        width: 100%;
        max-width: 100%;
    }
    .w-lg-700 {
        max-width: 700px;
        margin: auto;
    }
    .w-lg-500 {
        max-width: 500px;
        margin: auto;
    }
    .py-lg-50 {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .mt-lg-20 {
        margin-top: 20px;
    }
    .mt-lg-30 {
        margin-top: 30px;
    }
    .mt-lg-40 {
        margin-top: 40px;
    }

    .col-lg-2 {
        grid-template-columns: repeat(2, 1fr);
    }

    // --------------------------------------------------------------------header
    .navbar-wrapper {
        .navbar-item__title {
            font-size: 13px;
        }
    }

    .header-top {
        background-color: #181818;
        padding-top: 12px;
        padding-bottom: 12px;

        .logo,
        .latest,
        .search-pc {
            display: none;
        }

        .header-time {
            padding-left: 0;
            margin-left: 0;
            border-left: none;
            color: #fff;
        }
        .action-item__text {
            color: #fff;
        }
    }

    // -------------------------------------------------------------------- index

    // --------------------------------------------------------------------cate
    // ---------------------------------------------------video
    .video-primary {
        &__content {
            .articles {
                gap: 20px;
                grid-gap: 20px;
            }
        }
    }
    
    .detail-video-primary {
        &__right {
            max-height: 100%;
            overflow: unset;
            
            .article-title {
                font-size: 24px;
            }
        }
    }
    // --------------------------------------------------- bao in detail
     .newspapers-container {
    flex-direction: column;
  }
  .newspapers-container .sidebar {
    order: 2;
    width: 100%;
    padding-top: 40px;
  }
  .newspapers-container .sidebar .back-home {
    position: fixed;
    z-index: 20;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 0;
  }
  .newspapers-container .content {
    order: 1;
    width: 100%;
    height: auto;
    overflow: unset;
    display: block;
    padding: 10px;
  }
  .newspapers-container .content .left {
    padding: 20px;
    width: 100%;
    height: auto;
    display: none;
  }
  .newspapers-container .content .right {
    width: 100%;
    height: auto;
  }
   


    // --------------------------------------------------------------------detail
 
    // --------------------------------------------------------------------footer
}

// max width 992px
@media (max-width: 992px) {
    .d-md-none {
        display: none;
    }
    .d-md-block {
        display: block;
    }
    .d-md-flex {
        display: flex;
    }
    .d-md-grid {
        display: grid;
    }
    .w-md-full {
        max-width: 100%;
        width: 100%;
    }
    .w-md-500 {
        max-width: 500px;
        margin: auto;
    }
    .col-md-1 {
        grid-template-columns: 1fr;
    }
    .col-md-2 {
        grid-template-columns: repeat(2, 1fr);
    }
    .gap-md-10 {
        grid-gap: 0.625rem;
        gap: 0.625rem;
    }
    .pt-md-0 {
        padding-top: 0;
    }
    .mt-md-0 {
        margin-top: 0;
    }
    .mt-md-20 {
        margin-top: 20px;
    }
    .py-md-30 {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .pt-md-30 {
        padding-top: 30px;
    }
    .mt-md-30 {
        margin-top: 30px;
    }
    .py-md-40 {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .pt-md-40 {
        padding-top: 40px;
    }
    .mt-md-40 {
        margin-top: 40px;
    }
    // --------------------------------------------------------------------header
    .navbar {
        display: none;
    }

    // --------------------------------------------------------------------index

    .ads-right {
        img {
            margin: auto;
        }
    }
    .block-primary {
        display: block;

        &__left {
            width: 100%;
            padding-right: 0;
        }

        &__right {
            width: 100%;
        }
    }
    // --------------------------------------------------------------------cate
    .breadcrumb {
        &-title {
            font-size: 24px;
        }

        &-list {
            flex-wrap: nowrap;
            white-space: nowrap;
            overflow: auto;
        }
    }

    // ---------------------------------------------------video
    .video-primary {
        &__content {
            .articles {
                grid-template-columns: repeat(2,1fr);
            }
        }
    }
     // --------------------------------------------------- bao in
     .paper-newspaper-primary {
         &__heading {
            .heading-right {
                margin-top: 20px;
            }
            .fillter-day__input,
            .fillter-day__btn {
                width: 100%;
                margin-top: 10px;
                margin-left: 0;
            }
        }
        
        &__content {
            .article-list {
                grid-template-columns: repeat(2,1fr);
            }
            .article-item {
                margin-bottom: 30px;
            }
        }
    }
    // --------------------------------------------------- author
    .profile-author {
        &__container {
            .profile-one {
                .article-img {
                    width: 50%;
                    margin: auto;
                }
                .article-content {
                    margin-left: 0;
                    margin-top: 20px;
                }
                .article-title {
                    text-align: center;
                }
            }
        }
    }
 
    // --------------------------------------------------------------------detail
    .detail-tags {
        .tags-list {
            flex-wrap: nowrap;
            white-space: nowrap;
            overflow: auto;
        }
    }
    .container-primary,
    .detail-primary,
    .detail-secondary {
        &__left {
            width: 100%;
            max-width: 100%;
        }
        &__right {
            width: 100%;
            max-width: 100%;
        }
    }
    .detail-secondary {
        &__left {
            .articles {
                .article {
                    .article-img {
                        padding-left: 0;
                        float: none;
                    }
                    .article-content {
                        margin-top: 15px;
                    }
                }
            }
        }
    }

    // --------------------------------------------------------------------footer
    .footer-primary {
        &__list {
            grid-template-columns: repeat(3,1fr);
        }
    }
    
}

// max width 767px
@media (max-width: 767px) {
    .d-sm-none {
        display: none;
    }
    .d-sm-block {
        display: block;
    }
    .d-sm-inline-flex {
        display: inline-flex;
    }
    .d-sm-flex {
        display: flex;
    }
    .d-sm-grid {
        display: grid;
    }
    .mb-sm-0 {
        margin-bottom: 0;
    }
    .mt-sm-0 {
        margin-top: 0;
    }
    .pt-sm-50 {
        padding-top: 50px;
    }
    .pb-sm-50 {
        padding-bottom: 50px;
    }
    .pl-sm-0 {
        padding-left: 0;
    }
    .pt-sm-15 {
        padding-top: 15px;
    }

    .w-wrapper {
        padding-left: 10px;
        padding-right: 10px;
    }
    .w-sm-full {
        width: 100%;
    }
    .fs-sm-16 {
        font-size: 16px;
    }
    .fs-sm-18 {
        font-size: 18px;
    }

    // --------------------------------------------------------------------header
    .header-top {
        padding-top: 4px;
        padding-bottom: 4px;
    }
    .header-mb__container .logo img {
        height: 46px;
    }
    .navbar-menu-mb {
        padding-top: 6px;
        padding-bottom: 6px;
    }

    // --------------------------------------------------------------------index
 

    // --------------------------------------------------------------------cate

    /*------------------------------------------------------------ search*/
    .search-primary {
        &__left {
            .article {
                padding-left: 15px;
                padding-bottom: 20px;
            }
            .article-img {
                display: none;
            }
        }
    }

    // ---------------------------------------------------video
    .video-primary {
        &__content {
            .article {
                padding: 15px 0;
                border-bottom: 1px solid #e5e5e5;
                
                &:first-child {
                    padding-top: 0;
                }
                
                &:last-child {
                    padding-bottom: 0;
                    border-bottom: none;
                }
            }
        }
    }
    
    .detail-video-primary {
        &__right {
            .article-title {
                font-size: 20px;
            }
        }
    }
    // ---------------------------------------------------bao in detail
    .newspapers-container .sidebar {
        padding-top: 20px;
    }
    .newspapers-container .sidebar .list {
        height: calc(100% - 50px);
    }
    .newspapers-container .content .swiper-button-next:after,
    .newspapers-container .content .swiper-rtl .swiper-button-prev:after,
    .newspapers-container .content .swiper-button-prev:after,
    .newspapers-container .content .swiper-rtl .swiper-button-next:after {
        font-size: 15px;
    }
    // -------------------------------------------------------------------- detail
     p + p {
        margin-top: 20px;
    }

    .detail-title {
        font-size: 24px;
    }
    

    .detail-sapo {
        p {
            font-size: 16px;
        }
    }
  
    .detail-content {

        & figure {
            margin-bottom: 15px;
            
            figcaption {
                padding: 8px 10px;
                font-size: 14px;
            }
            img {
                border-radius: 5px;
            }
        }
        

        & p,
        & li {
            font-size: 16px;
            margin-bottom: 16px;
    
        }
        &  h2 {
            font-size: 20px;
        }
        &  h3 {
            font-size: 18px;
        }
        & h4 {
            font-size: 16px;
        }
        &  h5 {
            font-size: 16px;
        }
        & h6 {
            font-size: 16px;
        }
    
        & blockquote {
            padding: 20px;
            margin-top: 20px;
            margin-bottom: 20px;
            font-size: 16px;
    
            & p {
                font-size: 16px;
            }
        }
    }


  

    // --------------------------------------------------------------------footer
    #back-top {
        right: 20px;
    }

    .footer-primary {
        &__list {
            grid-template-columns: repeat(2, 1fr);
        }
        &__info {
            padding: 20px 0;
        }
    }

}

// max-width: 400px
@media (max-width:400px) {
    // --------------------------------------------------------------------header
    // --------------------------------------------------------------------index
    // --------------------------------------------------------------------cate
    .newspapers-container .sidebar .list {
        height: calc(100% - 40px);
    }
    // --------------------------------------------------------------------detail

    // --------------------------------------------------------------------footer
   
}